<section class="grid grid-3col">
    {{stringify system}}
    {{#each system.skillSets as |skillset key|}}
        <div>
            <h3>{{key}}</h3>
            <div>
                <span>{{skillset.value}}</span>
                <span>{{skillset.eureka.value}}</span>
            </div>
            {{#if items.length}}
                <ul>
                    {{#each skillset.skills as skill}}
                        <li>
                            <span>{{skill.name}} | </span>
                            <span>{{skill.baseValue}} | </span>
                            <span>{{skill.value}}</span>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}

        </div>
    {{/each}}
</section>