<section class="grid grid-3col">
    {{#each system.skillSets as |skillset key|}}
        <div>
            <h3>{{capitalize key}}</h3>
            <div>
                <span>{{skillset.value}}</span>
                <span>{{skillset.eureka.value}}</span>
            </div>
            <ul>
                {{#each skills as |item id|}}-->
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <span class='item-name'>{{item.name}} | </span>
                        <span>{{item.baseValue}} | </span>
                        <span>{{item.value}}</span>
                    </li>
                {{/each}}
            </ul>
            <div>
                <a class='item-control item-create' title='Create item' data-type='skill'>
                    <i class='fas fa-plus'></i>
                    {{localize 'DOCUMENT.New' type='skill'}}
                </a>
            </div>

        </div>
    {{/each}}
</section>
{{stringify system}}