<section class="grid grid-3col">
    {{stringify system}}
    {{#each system.skillSets as |skillset key|}}
        <div>
            <h3>{{key}}</h3>
            <div>
                <span>{{skillset.value}}</span>
                <span>{{skillset.eureka.value}}</span>
            </div>
            <ul>
                {{#if items.length}}
                    {{#each skillset.skills as skill}}
                        <li>
                            <span>{{skill.name}} | </span>
                            <span>{{skill.baseValue}} | </span>
                            <span>{{skill.value}}</span>
                        </li>
                    {{/each}}
                {{/if}}
                <li>
                    <a class='item-control item-create' title='Create item' data-type='feature'>
                        <i class='fas fa-plus'></i>
                        Add Skill
                    </a>
                </li>
            </ul>

        </div>
    {{/each}}
</section>