<section class="grid grid-3col">
    {{#each system.skillSets as |skillset key|}}
        <div>
            <h3>{{key}}</h3>
            <div>
                <span>{{skillset.value}}</span>
                <span>{{skillset.eureka.value}}</span>
            </div>
            {{#each skillset.skills as skill}}
                <div>
                    <span>{{skill.name}}</span>
                    <span>{{skill.baseValue}}</span>
                    <span>{{skill.value}}</span>
                </div>
            {{/each}}
        </div>
    {{/each}}
</section>