<section class="grid grid-3col">
    {{#each skillSets as |skillset key|}}
        <div>
            <h3>{{capitalize key}}</h3>
            <div>
                <span>{{skillset.value}}</span>
                <span>{{skillset.eureka.max}}</span>
            </div>
            {{log skillset}}
            {{log skillset.skills}}
            <div>
                <a class='item-control item-create' title='Create item' data-type='skill' data-skillset="{{key}}">
                    <i class='fas fa-plus'></i>
                    {{localize 'DOCUMENT.New' type='skill'}}
                </a>
            </div>

        </div>
    {{/each}}
</section>