<section class="grid grid-3col">
    {{#each skillSets as |skillset key|}}
        <div>
            <h3>{{capitalize key}}</h3>
            <div class="grid grid-2col">
                <span>
                    <div>Value</div>
                    <a class='rollable' data-roll-type='skill'>
                        {{skillset.value}}
                    </a>
                </span>
                <span>
                    <div>Eureka</div>
                <span>{{skillset.eureka.max}}</span>
                </span>


            </div>
            {{#if skillset.skills}}
                <ol class='items-list'>
                    {{#each skillset.skills as |skill|}}
                        <li class='item grid grid-4col"' data-item-id='{{skill._id}}'>
                            <div class='item-name'>
                                <h4>{{skill.name}}</h4>
                            </div>
                            <a class='rollable' data-roll-type='skill'>
                                <div>{{skill.system.basevalue}}</div>
                            </a>
                            <a class='rollable' data-roll-type='skill'>
                                <div>{{skill.system.value}}</div>
                            </a>
                            <div class='item-controls'>
                                <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type='skill'}}'>
                                    <i class='fas fa-edit'></i>
                                </a>
                                <a class='item-control item-delete'
                                   title='{{localize "DOCUMENT.Delete" type='skill'}}'>
                                    <i class='fas fa-trash'></i>
                                </a>
                            </div>
                        </li>
                    {{/each}}
                </ol>
            {{/if}}

            <div>
                <a class='item-control item-create' title='Create item' data-type='skill' data-skillset="{{key}}"
                   data-basevalue="10">
                    <i class='fas fa-plus'></i>
                    {{localize 'DOCUMENT.New' type='skill'}}
                </a>
            </div>

        </div>
    {{/each}}
</section>